<%= simple_form_for @cocktail do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Cocktail name: </label>
  <input type="text" name="cocktail[name]" id="name">
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
  <input type="submit">
<% end %>



